@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Public Sans";
    src: url("../design/PublicSans-Bold.ttf") format('truetype');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: "Public Sans";
    src: url("../design/PublicSans-Regular.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Public Sans";
    src: url("../design/PublicSans-Light.ttf") format('truetype');
    font-weight: light;
    font-style: normal;
}
